//Media
$hd: 1920px;
$xl: 1440px;
$l: 1024px;
$md: 768px;
$sm: 576px;
$s: 320px;

//Colors
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #2f2f2f;
$color-mulberry: #b14599;
$color-affair: #854399;
$color-bunker: #10181f;

//Fonts
$font-primary: "OpenSans";
$font-secondary: "GothamPro";

//Grid
$grid-unit: 4px;
$col-hd-extra: $grid-unit*13;
$col-hd: $grid-unit*11;
$col-xl: $grid-unit*9;
$col-l: $grid-unit*6;
$col-md: $grid-unit*10;
$col-s: $grid-unit*6;

//Animation
$transition: .2s ease-in-out;



