section.offer
	.offer--wrapper
		.offer__text
			.offer__slogan.slogan For Beginner Traders
			h2.h2.offer__title
				span.strong Free
				|  trading simulator
			.offer__desc
				p
					| Are you new to trading financial markets? – Sign up with MTrading and get from $5,000 on your free demo account to practice Forex, and CFDs trading strategies in real market conditions!
			.offer__btn
				a(href="javascript:void(0);" class="button offer__btn-link") Open Demo Account
		.offer__img
			.offer__img--wrapper
				img(src="img/img/img_offer-laptop.png" width="626" height="615" alt="Laptop")

