.start {
    @include container-fluid;
    margin-bottom: 150px;

    @media (max-width: $hd) {
        margin-bottom: 100px;
    }

    .swiper-slide__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        img {
            max-height: 100%;
        }
    }

    .swiper-pagination-fraction {
        z-index: -1;
        top: 10px;
        bottom: auto;
        left: 533px;
        width: auto;
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 100px;
        color: $color-affair;
        text-align: right;

        @media (max-width: $hd) {
            left: 403px;
        }
    }

    &__text {
        flex-shrink: 0;
        max-width: 35%;
    }

    &__title {
        margin-bottom: 100px;

        @media (max-width: $hd) {
            margin-bottom: 50px;
        }
    }

    &__desc {
        margin-bottom: 115px;

        @media (max-width: $hd) {
            margin-bottom: 65px;
        }
    }

    &__slider-img {
        height: 100%;

        img {
            height: 100%;
        }
    }

    &__slider--wrapper {
        position: relative;
        height: 740px;

        @media (max-width: $hd) {
            height: 570px;
        }
    }

    &__slider-content {
        position: absolute;
        top: 55px;
        left: 260px;
        width: 260px;
        height: calc(100% - 95px);
        background-color: $color-white;

        @media (max-width: $hd) {
            top: 40px;
            left: 200px;
            width: 210px;
            height: calc(100% - 80px);
        }
    }

    &--wrapper {
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 100%;
    }
}
