section.start
	.start--wrapper
		.start__text
			.start__slogan.slogan Gain Trading Experience
			h2.h2.start__title
				| Start in less than&nbsp;
				span.strong 5 minutes
			.start__desc
				p
					| Gain the experience and enter the market with confidence
			.start__btn
				a(href="javascript:void(0);" class="button start__btn-link") Open Demo Account
		.start__slider
			.start__slider--wrapper
				.start__slider-img
					img(src="/img/img/img_start-mobile.png" width="886" height="752" alt="Mobile")
				.start__slider-content.swiper-container
					.swiper-wrapper
						.swiper-slide
							.swiper-slide__img
								img(src="/img/img/img_start-slide-1.png" width="237" height="640" alt="Slide 1")
						.swiper-slide
							.swiper-slide__img
								img(src="/img/img/img_start-slide-2.png" width="293" height="397" alt="Slide 2")
						.swiper-slide
							.swiper-slide__img
								img(src="/img/img/img_start-slide-3.jpg" width="301" height="429" alt="Slide 1")
						.swiper-slide
							.swiper-slide__img
								img(src="/img/img/img_start-slide-4.jpg" width="347" height="708" alt="Slide 1")
					.swiper-pagination
