section.headline
	.headline--wrapper
		.headline__text
			h1.h1.headline__title
				span.strong Get $10,000 <br>
				|  on&nbsp;demo&nbsp;trading account
			.headline__desc
				p Test Forex trading in the real market environment
			.headline__btn
				a(href="javascript:void(0);" class="button headline__btn-link") Get Started
		.headline__img
			.headline__img--wrapper
				img(src="img/img/img_headline-man.png" width="787" height="1045" alt="Man")