section.benefits
	.benefits--wrapper
		h2.h2.benefits__title
			| Demo Account&nbsp;
			span.strong benefits
		ul.benefits__list
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-1.png', '114', '127', 'Trading experience', 'Real trading experience&nbsp;without&nbsp;risk')
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-2.png', '114', '127', 'Forex and CFDs', 'Forex and CFDs trading in&nbsp;real&nbsp;market&nbsp;conditions')
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-3.png', '114', '127', 'Support', 'Professional<br/> individual&nbsp;support')
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-4.png', '114', '127', 'MetaTrader 4', 'Based on MetaTrader 4 trading&nbsp;platform')
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-5.png', '114', '127', 'All trading strategies allowed', 'All trading<br/> strategies&nbsp;allowed')
			+list-item-img('benefits__list-item', 'img/ico/ico_benefits-6.png', '114', '127', 'Demo balance', 'Unlimited demo balance starting&nbsp;at&nbsp;$5,000')