@import "vendor/libs";

@import "helpers/variables";
@import "helpers/mixins";
@import "base/fonts";

@import "base/base";
@import "base/typography";
@import "base/form_elements";
@import "base/btns";
@import "base/container";

@import "../blocks/components/components";
@import "../blocks/modules/modules";


.cln-headlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1040px;
    margin: 90px auto;
}
.cln-headlines__item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    z-index: 1;
    width: calc((100% - 80px)/3);
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 30px;
}
.cln-headlines__item:nth-of-type(3n - 2) {
    justify-content: flex-start;
    margin-left: 0;
}
.cln-headlines__item:nth-of-type(3n) {
    justify-content: flex-end;
}
.cln-headlines__item:nth-of-type(3n + 1):last-of-type, .cln-headlines__item:nth-of-type(3n + 2):last-of-type {
    justify-content: center;
    margin-bottom: 0;
    margin-right: 70px;
}
.cln-headlines__item:nth-of-type(3n + 1):last-of-type {
    justify-content: center;
    margin-bottom: 0;
    margin-right: 0;
}
.cln-headlines__item:nth-of-type(3n - 2):nth-last-of-type(2) {
    justify-content: center;
    margin-bottom: 0;
    margin-left: 100px;
}
.cln-headlines__item:last-of-type {
    margin-bottom: 0;
}
.cln-headlines__item--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}