//Fast-fix
label,
button,
input,
textarea {
    font-family: $font-primary;
    font-size: 14px;
    letter-spacing: 0.18px;
    color: $color-primary;
    background: none;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
    }
}

input:-webkit-autofill {
    background-color: $color-white !important;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    resize: none;
}

input[type='checkbox'] {
    -webkit-appearance: checkbox;
}

input,
textarea {
    font: 14px $font-primary;
    color: $color-black;

    &::placeholder {
        font: 14px $font-primary;
        color: $color-mineShaft;
    }
}

button,
button[disabled] {
    cursor: default;
}

label {
    position: relative;
    display: block;
}

//Fast-fix ENDs

input {
    padding: $grid-unit*3 14px $grid-unit*3 8px;
    border: 1px solid $color-primary;
    border-radius: 3px;
    font-size: 16px;
    color: $color-secondary;
    background: $color-primary;
    transition: $transition;
    cursor: auto;

    &::placeholder {
        color: $color-silverChalice;
    }

    &:active, &:focus, &:hover {
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}

.input--wrapper {
    margin-bottom: $grid-unit*3;

    @media (max-width:375px) {
        margin-bottom: 16px;
    }

    label {
        display: block;
        margin-bottom: $grid-unit;
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 14px;
        line-height: $grid-unit*3;
        cursor: auto;

        &.input__label--required {

            &:after {
                content: ' *';
                color: $color-error;
            }
        }
    }
}

textarea {
    display: block;
    padding: 10px $grid-unit*2 10px $grid-unit*2;
    border: 1px solid $color-mineShaft;
    border-radius: 2px;
    width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 19px;
    color: $color-primary;
    background: #FFFFFF;
    transition: $transition;

    &::placeholder {
        color: $color-mineShaft;
    }
}

.textarea--wrapper {
    margin-bottom: $grid-unit*3;

    label {
        display: block;
        margin-bottom: $grid-unit;
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 14px;
        line-height: $grid-unit*3;
    }
}


.close-link {
    position: absolute;
    display: block;
    width: $grid-unit*2;
    height: $grid-unit*2;
    font-size: 0;
    transition: $transition;
    cursor: pointer;

    svg.icon {
        fill: $color-black;
    }
}


.input-animated {
    position: relative;
    margin-bottom: $grid-unit*3;

    &.not-empty {

        .input-animated__item {
            padding: 20px 14px 10px 8px;
            border-color: $color-secondary;
        }

        .input-animated__label {
            top: 6px;
            font-size: 10px;
        }

        .input-animated__empty {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &.error {

        .input-animated__item {
            border-color: $color-error;
            color: $color-error;
        }

        .input-animated__label {
            color: $color-error;
        }

        .input-animated__error {
            opacity: 1;
            pointer-events: auto;
            z-index: 3;
        }

        .input-animated__empty {
            svg.icon {
                fill: $color-error;
            }
        }
    }

    &__item {
        padding: $grid-unit*3 14px $grid-unit*3 8px;
        width: 100%;
        min-height: 50px;
        transition: $transition;
    }

    &__label {
        position: absolute;
        top: 18px;
        left: 8px;
        margin: 0;
        width: auto;
        font-size: 16px;
        color: $color-silverChalice;
        transition: $transition;
        cursor: text;
        user-select: none;
        z-index: 2;
    }

    &__empty {
        position: absolute;
        top: 15px;
        right: 10px;
        display: block;
        width: $grid-unit*4;
        height: $grid-unit*4;
        padding: $grid-unit;
        opacity: 0;
        transition: $transition;
        pointer-events: none;

        svg.icon {
            fill: $color-secondary;
            width: 100%;
            height: 100%;
        }
    }

    &__error {
        display: block;
        position: absolute;
        top: calc(100% + 10px);
        left: calc(100%/3*0.5);
        padding: 12px;
        border-radius: 3px;
        width: calc(100%/3*2);
        min-height: 36px;
        font-size: 16px;
        color: $color-white;
        line-height: 1;
        background-color: $color-error;
        opacity: 0;
        transition: $transition;
        pointer-events: none;
        z-index: -1;

        &::before {
            position: absolute;
            top: -10px;
            left: calc((100% - 20px)/2);
            @include triangle(top, 10px, 10px, $color-error);
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        
        @media (min-width: $md) {
            &:hover {
                ~ label::before {
                    background-color: rgba(68, 136, 187, 0.5);
                }
            } 
        }

        &:checked {
            ~ label::before {
                background-color: $color-secondary;
            }

            ~ label::after {
                opacity: 1;
            }
        }
    }

    &__label {
        position: relative;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        color: $color-silverChalice;

        &:before {
            content: '';
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 3px;
            margin-right: 8px;
            background: $color-primary;
            transition: $transition;
            flex-shrink: 0;
        }

        &::after {
            content: '';
            position: absolute;
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid $color-white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: $transition;
            opacity: 0;
        }


    }

    &__title {

    }
}
