h1, .h1 {
    font-family: $font-secondary;
    font-size: 82px;
    font-weight: 300;
    line-height: 115%;
    margin-bottom: $grid-unit*8;
    margin-top: 0;
    letter-spacing: -3px;
    text-transform: uppercase;
  color: $color-bunker;

    @media (max-width: $hd) {
        font-size: 68px;
    }

  @media (max-width: $xl - 1) {
    font-size: 60px;
  }

  @media (max-width: $tablet) {
    font-size: 54px;
  }

  @media (max-width: $md) {
    font-size: 40px;
  }

  @media (max-width: $sm) {
    font-size: 30px;
  }
}

h2, .h2 {
    font-family: $font-secondary;
    font-size: 82px;
    font-weight: 300;
    line-height: 115%;
    margin-bottom: $grid-unit*8;
    margin-top: 0;
    letter-spacing: -3px;
  color: $color-bunker;


  @media (max-width: $hd) {
    font-size: 68px;
  }

  @media (max-width: $xl - 1) {
    font-size: 60px;
  }

  @media (max-width: $tablet) {
    font-size: 54px;
  }

  @media (max-width: $md) {
    font-size: 40px;
  }

  @media (max-width: $sm) {
    font-size: 30px;
  }
}

.slogan {
    font-weight: 600;
    font-size: 28px;
    color: $color-mulberry;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    opacity: 0.5;

  @media (max-width: $hd) {
    margin-bottom: 34px;
  }

  @media (max-width: $tablet) {
    font-size: 26px;
    margin-bottom: 28px;
  }

  @media (max-width: $sm) {
    font-size: 24px;
    margin-bottom: 24px;
  }

}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

p {
    margin: 0;
    margin-bottom: $grid-unit;
  line-height: 130%;

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    color: $color-primary;
    text-decoration: none;
    transition: $transition;
}

.strong {
    font-weight: 700;
}